@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <div class="alert alert-success">
            Signed in as <b>@context.User.Identity?.Name</b>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-warning">
            Not signed in
        </div>
    </NotAuthorized>
</AuthorizeView>
